<div class="navbar navbar-inner"><h1>logga</h1></div>

<table class="table table-striped table-bordered">
  <tr>
    <th>text1</th>
    <th>text2</th>
    <th>id</th>
  </tr>

<% @tables.each do |table| %>
  <tr>
    <td><%= link_to table.string1, table %></td>
    <td><%= table.string2 %></td>
    <td><%= table.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Administration', admin_dashboard_path, :class => "btn", :method => :get %>
