<!DOCTYPE html>
<html>
<head>
  <title>Testsida2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header_background">
<div id="header">
<a id="logo" href="/">
	coop
</a>
</div>
</div>
<div id="content">
<%= yield %>
</div>
</body>
</html>
