<div class="navbar-inner"><h1>logga</h1>
<span>
<%= button_to 'Tabeller', tables_path, :class => "btn", :method => :get %>
<%= button_to 'Administration', admin_dashboard_path, :class => "btn", :method => :get %></span></div>